{% extends "base.html" %}

<!----------------------------------------------------------->
<!-------------------------- HEADER ------------------------->
<!----------------------------------------------------------->

{% block header %}

<!--<div class="masthead clearfix">-->
    <!--<div class="inner">-->
        <!--<h3 class="masthead-brand">Здравствуй, Алёна!</h3>-->
        <!--<nav>-->
            <!--<ul class="nav masthead-nav">-->
                <!--<li class="active"><a href="#">Home</a></li>-->
                <!--<li><a href="#">Features</a></li>-->
                <!--<li><a href="#">Contact</a></li>-->
            <!--</ul>-->
        <!--</nav>-->
    <!--</div>-->
<!--</div>-->

{% endblock header %}



<!----------------------------------------------------------->
<!-------------------------- CONTENT ------------------------>
<!----------------------------------------------------------->

{% block content %}

<div class="inner cover">
    <h1 class="cover-heading">Здравствуй, Алёна!</h1>
    <p class="lead">
        Если ты видишь эту страницу, значит ты уже получила мою посылку.
        Хорошо.
        Теперь нажми на кнопку и пройди по ссылке на Google Play Store.
        Там тебя ждет специальное приложение.
        Скачай его!
    </p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-default">Пройти на Google Play Store</a>
    </p>
</div>

{% endblock content %}
