{% extends "base.html" %}

<!----------------------------------------------------------->
<!-------------------------- CONTENT ------------------------>
<!----------------------------------------------------------->

{% block content %}

<div class="cover inner cover-container">
    <h1 class="cover-container-heading">Приветствую тебя, гость этой страницы!</h1>
    <p class="lead">
        Чтобы попасть на основную страницу, тебе нужно решить несколько загадок!
    </p>

    <form class="form-group"
          action=""
          method="POST">
        {% csrf_token %}
        <div class="">

            <div class="panel panel-default">


                <div class="panel-heading">
                    <p class="lead">
                        Если сложить наши дни рождения, то получится эта дата
                    </p>
                </div>

                <div class="panel-body form-inline">

                        <div class="input-group">
                            <span class="input-group-addon">День</span>
                            <input name="day" class="form-control"
                                   type="number"
                                   step="1" min="1" max="31" >
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">Месяц</span>
                            <input name="month" class="form-control"
                                   type="number"
                                   step="1" min="1" max="12" >
                        </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="lead">
                        Имена персонажей одной любимой песни. Начинаются на "Ш..." и "И.."
                    </p>
                </div>
                <div class="panel-body form-inline">
                        <input name="p1" class="form-control "
                               type="text" placeholder="Ш...">
                        <input name="p2" class="form-control"
                               type="text" placeholder="И..">
                </div>
            </div>

        </div>



        <button type="submit" class="btn btn-primary">
            Проверить решения
        </button>
    </form>




</div>

{% endblock content %}
