{% extends "base.html" %}

<!----------------------------------------------------------->
<!-------------------------- CONTENT ------------------------>
<!----------------------------------------------------------->

{% block content %}

<div class="inner cover">
    <h1 class="cover-heading">Приветствую тебя, гость этой страницы!</h1>
    <p class="lead">
        Чтобы попасть на основную страницу, тебе нужно решить несколько загадок!
    </p>

    <p class="lead">
        1) Первая загадка
    </p>

    <p class="lead">
        <a href="#" class="btn btn-lg btn-default">Пройти на Google Play Store</a>
    </p>


</div>

{% endblock content %}
